<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Create student</title>
</head>
<body>
<header th:insert = "blocks/header::header"></header>
<form action="#" th:action="@{/students/create}" th:object="${student}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Enter name">
    <br>
    <label for="dateOfEnrollment">Date of enrollment</label>
    <input type="date" th:field="*{dateOfEnrollment}" id="dateOfEnrollment" placeholder="Enter date">
    <br>
    <select th:field="*{group.number}">
        <option value="">Number of group</option>
        <option th:each="number : ${numbers}" th:value="${number}" th:text="${number}"></option>
    </select>
    <input type="submit" class="py-1 btn btn-success" value="Create Student">
</form>
<footer th:insert="blocks/footer::footer"></footer>
</body>
</html>
