<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>List students</title>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<div th:switch="${students == null OR students.isEmpty()}">
    <div th:case="true">
        <h2>No students found!</h2>
    </div>
    <div th:case="false">
            <h3>Search student</h3>
            <form action="/students/" method="post">
                <div class="form-inline">
                    <input type="text" name="name" placeholder="Enter name" class="form-control mb-2 mr-sm-2">
                    <select name="groupId" class="custom-select mb-2 mr-sm-2">
                        <option value="">Choose group</option>
                        <option th:each="number : ${numbers}" th:value="${number.getGroupId}"
                                th:text="${number.getGroupName}">
                    </select>
                    <button type="submit" class="btn btn-outline-success mb-2">Search</button>
                </div>
            </form>
        </div>
        <h2>Students</h2>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Group</th>
                <th>Date of enrollment</th>
                <th>Date of birth</th>
                <th>City</th>
                <th>Number of room</th>
                <th>Delete student</th>
                <th>Update student</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.getName}">Name</td>
                <td th:text="${student.getGroupName}">Group</td>
                <td th:text="${student.getDateOfEnrollment}">Date</td>
                <td th:text="${student.getDateOfBirth}">Date</td>
                <td th:text="${student.getCity}">City</td>
                <td th:text="${student.getRoomNumber}">Number of room</td>
                <td><a th:href="@{/students/delete/{id}(id=${student.getId})}" class="py-0 btn btn-success">Delete</a>
                </td>
                <td><a th:href="@{/students/update/{id}(id=${student.getId})}" class="py-0 btn btn-success">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <a href="/students/create" class="py-1 btn btn-success">Create student</a>
    <a href="/groups/" class="py-1 btn btn-success">Groups</a>
    <a href="/" class="py-1 btn btn-success">Main page</a>
    <div th:switch="${isBack}">
        <div th:case="true">
            <br>
            <a href="/students/" class="py-1 btn btn-warning">Back</a>
        </div>
    </div>
</body>
</html>