<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>List students</title>
</head>
<body>
<header th:insert = "blocks/header::header"></header>


<div class = "container mt-5 mb-5">
    <h1>Search student</h1>
    <form action="/students/" method="post">
        <input type = "text" name ="name" placeholder="Enter name" class="form-control">
        <br>
        <input type = "text" name ="group.yearOfCreate" placeholder="Enter year of group create" class="form-control">
        <br>
        <select name="group.number">
            <option value="">Choose group</option>
            <option th:each="number : ${numbers}" th:value="${number}" th:text="${number}">
        </select>
        <button type = "submit" class ="btn btn-success">Search</button>
    </form>

</div>
<div th:switch="${students.isEmpty()}">
    <h2 th:case="true">No students found!</h2>
    <div th:case="false">
        <h2>Students</h2>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Group</th>
                <th>Date of enrollment</th>
                <th>Delete student</th>
                <th>Update student</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.name}"></td>
                <td th:text="${'Group: ' + student.group.number +' Year: '+student.group.yearOfCreate}"></td>
                <td th:text="${student.dateOfEnrollment}"></td>
                <td><a th:href="@{/students/delete/{id}(id=${student.id})}" class="py-0 btn btn-success">Delete</a></td>
                <td><a th:href="@{/students/update/{id}(id=${student.id})}" class="py-0 btn btn-success">Update</a></td>
            </tr>
            </tbody>
        </table>
        </div>
    <br>
        <a href="/students/create" class="py-1 btn btn-success">Create student</a>
        <a href="/groups/" class="py-1 btn btn-success">Groups</a>
        <a href="/" class="py-1 btn btn-success">Main page</a>
</div>
<footer th:insert = "blocks/footer::footer"></footer>
</body>
</html>