<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Update student</title>
    <style type="text/css">
        #footer {
            position: fixed;
            left: 0; bottom: 0;
        }
    </style>
</head>
<body>
<header th:insert = "blocks/header::header"></header>
<form action="#" th:action="@{/students/update}" th:object="${student}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Enter name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br>

    <label for="dateOfEnrollment">Date of enrollment</label>
    <input type="date" th:field="*{dateOfEnrollment}" id="dateOfEnrollment" placeholder="Enter date">
    <div style="color:red" th:if="${#fields.hasErrors('dateOfEnrollment')}">Date Error</div>
    <br>

    <label for="number">Number of group</label>
    <select th:field="*{group.number}" id="number">
        <option value="">Select of group</option>
        <option th:each="number : ${numbers}" th:value="${number}" th:text="${number}"></option>
    </select>
    <div style="color:red" th:if="${#fields.hasErrors('group.number')}" th:errors="*{group.number}">Group Error</div>
    <br>

    <label for="year">Group creation year</label>
    <input type="text" th:field="*{group.yearOfCreate}" id="year" placeholder="Enter year">
    <div style="color:red" th:if="${#fields.hasErrors('group.yearOfCreate')}" th:errors="*{group.yearOfCreate}">Year Error</div>
    <br>
    <input type="submit" class="py-1 btn btn-success" value="Update Student">
</form>
<br>
<a href="/students/" class="py-1 btn btn-success">Back</a>
<div id="footer">
    <footer th:insert = "blocks/footer::footer"></footer>
</div>
</body>
</html>