<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Create group</title>
</head>
<body>
<header th:insert = "blocks/header::header"></header>
<form action="#" th:action="@{/groups/create}" th:object="${group}" method="post">
    <label for="number">Number of group</label>
    <input type="text" th:field="*{number}" id="number" placeholder="Enter number">
    <br>
    <label for="faculty">Faculty of group</label>
    <input type="text" th:field="*{faculty}" id="faculty" placeholder="Enter faculty">
    <br>
    <label for="yearOfCreate">Group creation year</label>
    <input type="text" th:field="*{yearOfCreate}" id="yearOfCreate" placeholder="Enter year">
    <br>
    <label for="isArchive">Make the group archived</label>
    <input type="checkbox" th:field="*{archive}" id="isArchive">
    <br>
    <input type="submit" value="Create Group">
</form>
<footer th:insert = "blocks/footer::footer"></footer>
</body>
</html>