<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Create group</title>
    <style type="text/css">
        #footer {
            position:fixed; /* Фиксированное положение */
            left: 0; bottom: 0; /* Левый нижний угол */
        }
    </style>

</head>
<body>
<header th:insert = "blocks/header::header"></header>
<form action="#" th:action="@{/groups/create}" th:object="${group}" method="post">
    <label for="number">Number of group</label>
    <input type="text" th:field="*{number}" id="number" placeholder="Enter number">
    <div style="color:red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Number Error</div>
    <br>
    <label for="faculty">Faculty of group</label>
    <input type="text" th:field="*{faculty}" id="faculty" placeholder="Enter faculty">
    <div style="color:red" th:if="${#fields.hasErrors('faculty')}" th:errors="*{faculty}">Faculty Error</div>
    <br>
    <label for="yearOfCreate">Group creation year</label>
    <input type="text" th:field="*{yearOfCreate}" id="yearOfCreate" placeholder="Enter year">
    <div style="color:red" th:if="${#fields.hasErrors('yearOfCreate')}" th:errors="*{yearOfCreate}">Year Error</div>
    <br>
    <label for="isArchive">Make the group archived</label>
    <input type="checkbox" th:field="*{archive}" id="isArchive">
    <br>
    <input type="submit"class="py-1 btn btn-primary" value="Create Group">
</form>
<br>
<a href="/groups/" class="py-1 btn btn-primary">Back</a>
<div id="footer">
    <footer th:insert = "blocks/footer::footer"></footer>
</div>
</body>
</html>