<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>List groups</title>
</head>
<body>
<header th:insert = "blocks/header::header"></header>
</header>
    <div th:switch="${groups}">
        <h2 th:case="null">No groups found!</h2>
        <div th:case="*">
            <h2>Groups</h2>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Number</th>
                    <th>Faculty</th>
                    <th>Year of create</th>
                    <th>Archive</th>
                    <th>Delete group</th>
                    <th>Update group</th>
                    <th>Show students</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="group : ${groups}">
                    <td th:text="${group.number}"></td>
                    <td th:text="${group.faculty}"></td>
                    <td th:text="${group.yearOfCreate}"></td>
                    <div th:switch="${group.archive}">
                        <div th:case=true>
                            <td th:text="Archived"></td>
                        </div>
                            <div th:case=false>
                                <td th:text="Really"></td>
                            </div>
                    </div>
                    <td><a th:href="@{/groups/delete/{id}(id=${group.id})}" class="py-0 btn btn-primary">Delete</a></td>
                    <td><a th:href="@{/groups/update/{id}(id=${group.id})}" class="py-0 btn btn-primary">Update</a></td>
                    <td><a th:href="@{/groups/search/{id}(id=${group.id})}" class="py-0 btn btn-primary">Show</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
        <br>
        <a href="/groups/create" class="py-1 btn btn-primary">Create group</a>
        <a href="/students/" class="py-1 btn btn-primary">Students</a>
        <a href="/" class="py-1 btn btn-primary">Main page</a>
<footer th:insert = "blocks/footer::footer"></footer>
</body>
</html>