<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>List students</title>
</head>
<body>
<header th:insert = "blocks/header::header"></header>
</header>
<div th:switch="${students}">
    <h2 th:case="null">No students found!</h2>
    <div th:case="*">
        <h2>Students</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Group</th>
                <th>Faculty</th>
                <th>Date of enrollment</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.name}"></td>
                <td th:text="${student.group.number}"></td>
                <td th:text="${student.group.faculty}"></td>
                <td th:text="${student.dateOfEnrollment}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/groups/">Groups</a></p>
</div>
<footer th:insert = "blocks/footer::footer"></footer>
</body>
</html>