<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Error</title>
    <style type="text/css">
        #footer {
            position: fixed;
            left: 0; bottom: 0;
        }
    </style>
</head>
<body>
<h1>There are students in the group. You can't delete it!</h1>
<a href="/groups/" class="py-1 btn btn-primary">Back</a>
<div id="footer">
    <footer th:insert = "blocks/footer::footer"></footer>
</div>
</body>
</html>